* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(67, 44, 182);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .big-container{
  width:700px;
  height: 500px;

} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 64px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  width: 400px;
  height: 400px;
  background-color: rgb(43, 6, 116);
  border-radius: 20px;
  box-shadow: inset 5px 5px 15px 16px hsl(0deg 0% 100% / 55%);
  background-image: url("/src/music.jpeg");
}

.header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 66px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 300px 300px 300px 300px;
  font-size: 30px;
}

.header marquee {
  color: #5e376d;
  font-weight: 400;
  letter-spacing: 2px;
  width: 70%;
}

.track-list {
  display: flex;
  flex-direction: column;
}

.track-list svg {
  width: 2.45em;
  height: 1.2em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  user-select: none;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.8rem;
  color: gray;
}

.track-list p {
  margin: 0px 0px 0px 16px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgb(94, 55, 109);
  font-size: 20px;
  font-weight: 300;
}

.strack-btn {
  margin-top: 1.5px;
  margin-bottom: 8px;
  padding: 8px;
  background-color: hsl(181, 100%, 47%);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.controller {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 80px 80px 70px 70px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.controller button {
  padding: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.26);
}

.controller svg {
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  user-select: none;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 2.7rem;
  color: gray;
}

